/*-----------------------------------------------------------------------------------------------------------
Global
-----------------------------------------------------------------------------------------------------------*/
html, body {
    height: 100%;
}

// .wrapper
.wrapper {
    position: relative;
    left: 0;
    .transition(left 0.3s ease-in);
    &.mobile-menu {        
        left: -50%;
    }
}

.main {
    display: none;
}

/*-----------------------------------------------------------------------------------------------------------
Color Palette
-----------------------------------------------------------------------------------------------------------*/
@color00:       #ff0000;