<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Patient Booking System</title>  

    <!-- My style -->    
    <link rel='stylesheet' href='public/css/style.min.css' type='text/css' media='all' />
    <!-- My style -->
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="menu container">           
                <h1 class="logo">
                    <a href="#" title="Patient Booking System">
                        PBS
                    </a>
                </h1>
                <nav role="navigation">
                    <span class="glyphicon glyphicon-menu-hamburger toggle-menu"></span>
                    <ul>
                        <li>About</li>
                        <li>Login</li>                    
                    </ul>
                </nav>
            </div>
            <div class="searchbox">
            </div>        
        </header>

        <main id="main" class="main" role="main">
            <%-body%>
        </main>

        <footer>
            
        </footer>    
    </div>  

    <script type='text/javascript' src='public/js/libs/jquery.min.js'></script>      
    <script type='text/javascript' src='public/js/app.min.js'></script>
</body>

</html>
