<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Patient Booking System</title>  

    <!-- My style -->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> -->
    <link rel='stylesheet' href='public/css/style.min.css' type='text/css' media='all' />
    <!-- My style -->
</head>

<body>
    <div class="wrapper">
        <nav role="navigation" class="main-menu">            
            <ul>
                <li>About</li>
                <li>Login</li>                    
            </ul>
        </nav>
        <header>
            <div class="logo pull-left">
                <a href="#" title="Patient Booking System">
                    <img src="public/images/logo.png" alt="Patient Booking System - Logo" title="Patient Booking System" class="logo">
                </a>
            </div>
            <div class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger toggle-menu"></span>
            </div>      
        </header>
        <main id="main" class="main" role="main">
            <%-body%>
        </main>

        <footer>
            
        </footer>    
    </div>  

    <script type='text/javascript' src='public/js/libs/jquery.min.js'></script>      
    <script type='text/javascript' src='public/js/app.min.js'></script>
</body>

</html>
