/*-----------------------------------------------------------------------------------------------------------
1. Header
-----------------------------------------------------------------------------------------------------------*/
// Video background
// .video-wrapper {
//     position: relative;

//     .video-overlay {
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: blue;
//         opacity: 0.5;
//     }
// }
// video#bgvid {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     min-width: 100%;
//     min-height: 100%;
//     width: auto;
//     height: auto;
//     z-index: -100;
//     -ms-transform: translateX(-50%) translateY(-50%);
//     -moz-transform: translateX(-50%) translateY(-50%);
//     -webkit-transform: translateX(-50%) translateY(-50%);
//     transform: translateX(-50%) translateY(-50%);
//     background: url(polina.jpg) no-repeat;
//     background-size: cover; 
// }

// header
header {
    background: url('../images/banner1-bg.jpg') no-repeat 87% center fixed;
    background-size: cover;
}

// Menu
.menu {
    position: relative;
    .logo {
        float: left;
        margin-top: 10px;
        a {
            font-size: 25px;
            color: #fff;
        }
    }

    nav {
        float: right;
        margin-top: 10px;
        .toggle-menu {
            font-size: 22px;
            margin-top: 10px;
            color: #fff;
        }
        ul {
            position: absolute;            
            list-style: none;
            display: none;
            top: 0;
            width: 50%;
            right: -50%;
            background-color: blue;                
        }
    }
}

.mobile-menu {
    nav {
        ul {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    .menu {        
        .toggle-menu {
            display: none;
        }
        nav {
            ul {
                position: relative;
                right: inherit;
                width: auto;
                background-color: inherit;
                li {
                    display: inline;                    
                }
            }
        }
    }   
}

// hero-intro
.hero-intro {
    text-align: center;    
    margin: 0px auto;
    margin-top: 25px;
    span {
        display: block;
        color: #fff;        
    }
    .line1 {
        font-size: 3.3em;
    }
    .line2 {
        font-size: 2em;
        margin: 5px 20px;
        opacity: 0.5;
    }
}

// .search-section
.search-section {
    // .search-by-types
    .search-types {
        background-color: @color1;
        margin: 30px 10px;
        .border-radius(3px);
        .search-type {            
            border-right: 1px solid #fff;
            padding: 5px 0px;
            text-align: center;    
            &.active {
                background-color: #ffcd7f;
            }    
            &:last-child {
                border-right: 0px;
            }
            img {
                width: 30%;
                margin: 0 auto;
                display: block;    
            }
            span {
                display: block;
                margin-top: 8px;
                font-size: 1.5em;
                font-weight: 500;
                color: @color2;
            }
        } 
    }

    // .search-by-location
    .search-filter-1 {        
        margin: 0px 10px;
        .select-wrapper {
            width: 47%;
        }
    }

    .search-filter-2 {
        margin: 15px 10px;
        .search-box {
            width: 100%;
            height: 31px;
            font-size: 2em;
            padding-left: 10px;
            background-color: @color1;
            border: 0px;
            .border-radius(0px);
            color: @color2;
        }
    }

    .btn-search {
        color: #fff;
        background-color: #f7b841;
        border-color: #ccc;
        margin: 0px auto;
        display: block;
        width: 100px;
        letter-spacing: 1.5px;
    }
}